<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>


<div class="container" >

    <h3>基本</h3>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" placeholder="微博账号">
        </div>
    </div>

    <div class="form-group">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" placeholder="192">
            <span class="input-group-addon">.00</span>
        </div>
    </div>

</div>


<script src="../../jquery/jquery-1.11.3.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>
</html>