<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>


<div class="container">

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown">黑名单 <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">马画藤</a></li>
            <li class="disabled"><a href="#">马芸</a></li>
            <li class="divider"></li>
            <li><a href="#">李艳红</a></li>
        </ul>
    </div>

</div>


<script src="../../jquery/jquery-1.11.3.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>
</html>