.head-bg {
    background: #efefef;
    font-weight: bold;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-style:dashed;
}
.table-bordered {
    border:4px solid #000;
}
.table-bordered .table-bordered  {
    border:0 none;
    margin: 0;
    height: 100%;
    width: 100%;

}
.table-parent {
    padding: 0 0 0 10% !important;
    border-left:0 none!important;
}
.no-right-border {
    border-right:0 none!important;
}
.table-bordered .table-bordered td {
    border:0 none;
}
.table-bordered .table-bordered td.fist-col {width:40%; border-left: 1px dashed #ddd;border-right: 1px dashed #ddd; }
