<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>


<div class="container" style="padding: 100px 0">

    <div class="btn-group">
        <button class="btn btn-default">黑名单</button>
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">马画藤</a></li>
            <li class="disabled"><a href="#">马芸</a></li>
            <li class="divider"></li>
            <li><a href="#">李艳红</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary">黑名单</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">马画藤</a></li>
            <li class="disabled"><a href="#">马芸</a></li>
            <li class="divider"></li>
            <li><a href="#">李艳红</a></li>
        </ul>
    </div>
    <div class="btn-group dropup">
        <button class="btn btn-success btn-sm">黑名单</button>
        <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">马画藤</a></li>
            <li class="disabled"><a href="#">马芸</a></li>
            <li><a href="#">李艳红</a></li>
        </ul>
    </div>

</div>


<script src="../../jquery/jquery-1.11.3.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>
</html>