<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container" style="padding: 50px 0;">
    <h3>基本按钮组</h3>
    <div class="btn-group">
        <button class="btn btn-default">首页</button>
        <button class="btn btn-default">上一页</button>
        <button class="btn btn-default">下一页</button>
        <button class="btn btn-default">末页</button>
    </div>
</div>

<script src="../../jquery/jquery-1.11.3.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>