<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container" style="padding: 50px 0;">
    <h3>垂直排列</h3>
    <p class="text-info">让一组按钮垂直堆叠排列显示而不是水平排列。</p>
    <div class="btn-group-vertical">
        <button class="btn btn-default">1</button>
        <button class="btn btn-default">2</button>
        <button class="btn btn-default">3</button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">选择 <span class="caret"></span></button>
            <ul class="dropdown-menu" >
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>


</div>

<script src="../../jquery/jquery-1.11.3.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>