<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container" style="padding: 50px 0;">
    <h3>两端对齐</h3>
    <h4>button</h4>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-default">Left</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default">Middle</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>

    <h4>超链接</h4>
    <div class="btn-group btn-group-justified">
            <a class="btn btn-default">Left</a>
            <a class="btn btn-default">Middle</a>
            <a class="btn btn-default">Right</a>
    </div>


</div>

<script src="../../jquery/jquery-1.11.3.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>