<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>


<div class="container">

    <div style="margin-top: 400px;">

        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" id="menu1" data-toggle="dropdown">
                前端知识 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">jQuery</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Vue</a></li>
                <li><a href="#">Project</a></li>
            </ul>
        </div>

    </div>

</div>


<script src="../../jQuery/jquery-1.11.3.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>
</html>